.blog-page {
    position: relative;
    padding: 3rem 1.5rem;

    .blog-navigation {
        position: fixed;
        display: block;
        width: 12rem;

        .blog-navigation-section {
            margin-bottom: 3rem;

            .blog-navigation-section-title {
                overflow: hidden;

                &::after {
                    content: "";
                    display: inline-block;
                    height: 1px;
                    position: relative;
                    vertical-align: middle;
                    width: 50%;
                    background-color: var(--gray-light-1);
                    left: 15px;
                    margin-right: -50%;
                }

            }
        }
    }

    .blog-post-list {
        margin-left: 12rem;
    }
}