@import "../../styles/variables.scss";

.about {
  display: unset;
  margin-top: 1.8rem;

  .logo-container {
    width: 100%;
    margin: auto;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--gray-light-2);

    .logo {
      text-decoration: none;
      border-bottom: none;

      svg {
        width: 10rem;
        height: 2rem;
      }
    }

    .logo-subtitle {
      color: var(--gray-medium-1);
      font-size: 110%;
    }
  }

  .avatar {
    width: 92px;
    height: 92px;
  }

  .wipeIn {
    &.ani-1 {
      animation-delay: 0.6s;

      &::before {
        animation-delay: 0.6s;
      }
    }

    &.ani-2 {
      animation-delay: 0.8s;

      &::before {
        animation-delay: 0.8s;
      }
    }

    &.ani-3 {
      animation-delay: 1s;

      &::before {
        animation-delay: 1s;
      }
    }
  }

  .profile-container {
    border-radius: 2rem;
    background: var(--white-2);
    padding: 4.5rem 4.5rem 3rem;
    margin-bottom: 2.5rem;

    .avatar {
      margin-top: -7rem;
      margin-bottom: 2rem;
    }

    .primary-bio {
      font-size: 160%;
      font-weight: 700;
      line-height: 1.4;
    }

    .secondary-bio {
      font-size: 110%;
    }

    table {
      border-left: 1px solid var(--gray-light-2);
      padding-left: 1.5rem;

      td {
        padding: 0.2rem 0.3rem;
        vertical-align: top;
      }
    }
  }

  .link-highlight {
    display: inline-block;
    color: var(--green-dark);
    font-weight: 700;
    border: none;
    font-size: 110%;
    transition: transform 0.3s ease;

    &:hover {
      transform: translate3d(0.4rem, 0, 0);
      border: none;
    }

    .icon-arrow-right {
      width: 1rem;
      height: 0.8rem;
      margin-left: 0.35rem;
      fill: var(--green-dark);
    }
  }
}

/*
    Navigation / Menu
--------------------------------------*/

.menu-container {
  position: sticky;
  top: 0;
  transition: all 0.3s ease-out;
  z-index: var(--zindex-fixed);
  border-bottom: 1px solid var(--gray-light-2);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(7px);

  menu {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .social-container {
      display: flex;
      float: right;
      align-items: center;

      svg {
        width: 1.8rem;
        height: 1.8rem;
      }
    }

    &.desktop {
      a {
        position: relative;
        overflow: unset;

        &::after {
          content: "";
          width: 0.3rem;
          height: 0.3rem;
          background: #265fff;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: -0.5rem;
          transform: translateX(-50%);
          opacity: 0;
        }

        &.active {
          &::after {
            opacity: 1;
          }
        }
      }
    }

    &.mobile {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: var(--zindex-modal);
      height: 100%;
      padding: 4rem;
      margin: auto;
      opacity: 0;
      pointer-events: none;
      overflow-y: auto;

      a {
        display: inline-block;
        font-weight: 700;
        text-decoration: none;
        padding: 1.2rem 0.5rem 0.4rem;
        color: var(--white);
        width: 100%;
        cursor: pointer;
        transition: transform 0.7s cubic-bezier(0.19, 1, 0.155, 1.01);
        transform: translateX(100vw);

        &.link {
          color: var(--gray-light-3);
        }

        &.sub-link {
          font-size: 88%;
          padding: 0.3rem 0.5rem;
        }
      }

      .internal-links {
        margin-bottom: 2rem;

        a {
          &:first-child {
            transition-delay: 0.03s;
          }
          &:nth-child(2) {
            transition-delay: 0.1s;
          }
          &:nth-child(3) {
            transition-delay: 0.17s;
          }
          &:nth-child(4) {
            transition-delay: 0.24s;
          }
          &:nth-child(5) {
            transition-delay: 0.31s;
          }
          &:nth-child(6) {
            transition-delay: 0.38s;
          }
          &:nth-child(7) {
            transition-delay: 0.45s;
          }
          &:nth-child(8) {
            transition-delay: 0.52s;
          }
          &:nth-child(9) {
            transition-delay: 0.59s;
          }
          &:nth-child(10) {
            transition-delay: 0.66s;
          }
          &:nth-child(11) {
            transition-delay: 0.73s;
          }

          &.active {
            color: var(--white);
          }
        }

        &.btn-resume {
          margin-top: 2rem;
          color: var(--green);
        }
      }

      .social-container {
        a {
          font-size: 80%;
          padding: 0.3rem 0.5rem;
          color: var(--gray-light-2);
        }
      }

      &.active {
        opacity: 1;
        pointer-events: auto;

        a {
          transform: translateX(0);
        }
      }
    }

    a {
      display: inline-block;
      position: relative;
      margin-right: 1.8rem;
      padding-right: 0.2rem;
      text-decoration: none;
      overflow: hidden;
      font-size: 110%;
      color: var(--gray-medium-2);
      border: none;
      text-align: left;

      &:hover,
      &:focus,
      &:visited {
        color: var(--black);
        font-weight: 700;
        border: none;
      }

      &::before {
        display: block;
        content: attr(name);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }

      &.active {
        pointer-events: none;
        border: none;
        font-weight: 700;
        color: var(--black);
      }

      .ripple {
        width: 0;
        height: 0;
        border-radius: 30%;
        background-color: var(--black);
        background-color: rgba(0, 0, 0, 0.2);
        transform: scale(0);
        position: absolute;
        opacity: 1;

        &.rippleEffect {
          animation: rippleAnim 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
      }
    }
  }

  .bg-black {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--zindex-modal-backdrop);
    transform: rotateY(-100deg);
    transform-origin: right;
    transition: transform 0.4s cubic-bezier(0.19, 1, 0.155, 1.01);

    &.active {
      opacity: 1;
      height: 100%;
      transform: rotateY(0);
    }
  }

  .toggle {
    display: none;
    z-index: var(--zindex-popover);
    width: auto;
    cursor: pointer;
    background: var(--black);
    user-select: none;
    border: none;
    border-bottom-left-radius: 0.3rem;
    transform: translateX(1.5rem);
    transition: transform 0.2s ease-in;
    position: absolute;
    right: 0;
    top: 0;

    .text,
    .icon {
      transition: opacity 0.2s ease-in, top 0.2s ease-in;
    }

    .text {
      color: #fff;
      text-transform: lowercase;
    }

    .icon {
      color: #fff;
      font-size: 1em;
      opacity: 0;
      stroke-width: unset;
      width: 1.5rem;
      height: 1.5rem;
    }

    &.active {
      transform: translateX(0);

      .icon {
        opacity: 1;
        top: 0;
      }
    }
  }
}

/*
Footer
--------------------------------------*/
footer {
  padding-bottom: 1rem;

  .social-container {
    position: relative;

    a {
      position: relative;
      display: block;
      width: 100%;
      text-align: left;
      flex: 1;
      margin-left: auto;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      padding-bottom: 8px;
      color: var(--black);
      transition: transform 0.2s ease-in;
      text-decoration: none;
      font-size: 0.8rem;

      border: none;

      &:visited {
        color: var(--black);
      }

      &:hover {
        color: var(--gray-medium-1);
        border: none;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        margin-left: 2em;
        transform: scaleX(0);
        z-index: -1;
        transition: transform 0.2s ease-in;
      }

      &::before {
        background-color: var(--black);
      }

      &::after {
        background-color: #fff;
      }

      &:hover::before {
        transform: scaleX(1.05);
        transform-origin: 100% 100%;
      }

      &:hover::after {
        transform: scaleX(1.05);
        transform-origin: 0% 100%;
      }
    }

    a.resume {
      margin-bottom: 1rem;
      color: var(--green);
      font-style: italic;
      font-weight: 700;

      &:hover {
        color: var(--green-dark);
      }
    }
  }
}

@media screen and #{$mq-small} {
  .about {
    padding-top: 3rem;

    .primary-bio {
      margin-top: 2rem;
      font-size: 150%;
    }

    .secondary-bio {
      font-size: 100%;
    }

    .link-highlight {
      display: block;
      padding: 0.7rem 0;
    }
    
    .logo-container {
      border: none;
      padding-bottom: 0.5rem;
    }
    .profile-container {
      padding: 0.6rem;

      .avatar {
        margin-top: -3rem;
        width: 120px;
        height: 120px;
      }

      table {
        border: none;
        padding-left: 0;
        border-top: 1px solid var(--gray-light-2);
        padding-top: 1.5rem;
      }
    }
  }
  .menu-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    backdrop-filter: unset;
    background: none;

    &.active {
      pointer-events: unset;
    }

    menu.desktop {
      display: none;
    }

    menu.mobile {
      display: block;
    }

    .toggle {
      display: block;
      padding: 0.5rem 1rem;
      transform: translateX(0);
      color: #FFF;

      .icon {
        opacity: 1;
      }
    }
  }
}
