@import "../../styles/variables.scss";

.about {
  padding-top: 8rem;

  .wipeIn {
    &.ani-1 {
      animation-delay: .6s;

      &::before {
        animation-delay: .6s;
      }
    }

    &.ani-2 {
      animation-delay: .8s;

      &::before {
        animation-delay: .8s;
      }
    }

    &.ani-3 {
      animation-delay: 1s;

      &::before {
        animation-delay: 1s;
      }
    }
  }

  .primary-bio {
    font-size: 200%;
    font-weight: 700;
    line-height: 1.4;

    .quote-symbol {
      display: block;
      font-size: 500%;
      line-height: .1;
    }

    .cite {
      margin-top: 1rem;
      font-style: italic;
      color: var(--gray-light-2);
    }
  }

  .secondary-bio {
    font-size: 120%;
  }

  .link-highlight {
    display: inline-block;
    color: var(--green-dark);
    font-weight: 700;
    border: none;
    font-size: 110%;
    transition: transform 0.3s ease;

    &:hover {
      transform: translate3d(.4rem, 0, 0);
      border: none;
    }

    .icon-arrow-right {
      width: 1rem;
      height: .8rem;
      margin-left: .35rem;
      fill: var(--green-dark);
    }
  }

  .skills-section {

    .skills-list-container {

      .skills-list {
        padding: 0;

        .skill {
          list-style: none;
          // text-transform: uppercase;
          font-size: 90%;
          // font-weight: 700;
          letter-spacing: .02rem;
          padding-bottom: .65rem;
          margin-bottom: .65rem;
          border-bottom: 1px solid var(--gray-light-1);
        }
      }
    }
  }
}

@media screen and #{$mq-small} {
  .about {
    padding-top: 3rem;

    .primary-bio {
      margin-top: 2rem;
      font-size: 150%;

      .quote-symbol {
        font-size: 280%;
      }
    }

    .secondary-bio {
      font-size: 100%;
    }

    .link-highlight {
      display: block;
      padding: .7rem 0;
    }

    .skills-section {

      .skill-category {
        background: var(--white-2);
        border-radius: var(--border-radius);
        padding: .5rem 1rem;
        margin-bottom: 2.5rem;

        .skills-list-container {

          .skills-list {
            padding: 0;

            .skill {
              display: inline;
              text-transform: lowercase;
              list-style: none;
              border: none;

              &:not(:last-of-type) {
                &::after {
                  content: ', '
                }
              }
            }
          }
        }
      }
    }
  }
}