.blog-section {
    margin-top: 80px;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    min-height: calc(100vh - 140px);
    width: 100%;
    /* using home.js to adjust height */
    position: relative;

    .post {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 2em 0;
    
        & > .postdate {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            box-sizing: border-box;
            padding: 0 80px;
            width: 340px;
        }
        & > .postcontent {
            line-height: 1.35em;
            max-width: 500px;
    
            .posttitle {
                display: block;
            }
        }
    }
}