.index-page {

  .landing-section {
    position: relative;
    padding: 4rem;

    .wipeIn {
      &.ani-1 {
        animation-delay: .6s;
        
        &::before {
          animation-delay: .6s;
        }
      }
      &.ani-2 {
        animation-delay: .9s;
        
        &::before {
          animation-delay: .9s;
        }
      }
      &.ani-3 {
        animation-delay: 1.05s;
        
        &::before {
          animation-delay: 1.05s;
        }
      }
      &.ani-4 {
        animation-delay: 1.2s;
        
        &::before {
          animation-delay: 1.2s;
        }
      }
    }

    .self-intro {
      position: relative;
      width: 43rem;
      max-width: 100%;
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 1rem;
      z-index: 2;

      .selfi {
        color: var(--gray-medium-2);
      }
      .icon-arrow-bob-updown {
        display: inline-block;
        position: relative;
        font-size: 2rem;
        color: var(--black);
      }
    }
    .link-highlight {
      display: inline-block;
      color: var(--primary-medium);
      font-weight: 700;
      border: none;
      font-size: 95%;
      transition: transform 0.3s ease;

      &:hover {
        transform: translate3d(.4rem, 0, 0);
        border: none;
      }

      .icon-arrow-right {
        width: 1rem;
        height: .8rem;
        margin-left: .35rem;
        fill: var(--primary-medium);
      }
    }
  }
}
