#menu-side {
    display: flex;
    flex-flow: column wrap;
    position: fixed;
    top: 20%;
    right: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: all 0.3s ease-out;

    a {
      font-size: 1rem;
      font-weight: bold;
      flex: 1;
      text-align: left;
      padding: 0.5em 0.5em 0.5em 1em;
      text-decoration: none;
      color: #fff;
      background-color: var(--black);
      margin-top: -1px;
      margin-bottom: 0.5em;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      transition: all 150ms ease-out;
      border-radius: 0.3em 0 0 0.5em;

      &:hover {
        background-color: #4c4c4c;
      }

      &.resumeLink {
        background-color: #ffdce2;
        color: var(--black);

        &:hover {
          background-color: #ffeaef;
        }
      }
    }
  }