.tag-card {
    padding: .5rem;
    border-radius: .2rem;
    border: none;

    &:hover {
        color: var(--black);
        font-weight: 700;

        .post-count {
            
            color: var(--white);
            background-color: var(--black);
        }
    }

    .post-count {
        background: var(--gray-light-1);
        border-radius: 0.2rem;
        padding: 0 0.3rem;
        margin-left: .5rem;
        font-size: 90%;
        transition: background 0.3s ease-in-out;
    }
}