@import "../../styles/variables.scss";

.work {

    .wipeIn {
        &.ani-1 {
            animation-delay: .6s;

            &::before {
                animation-delay: .6s;
            }
        }

        &.ani-2 {
            animation-delay: .8s;

            &::before {
                animation-delay: .8s;
            }
        }

        &.ani-3 {
            animation-delay: 1s;

            &::before {
                animation-delay: 1s;
            }
        }

        &.ani-4 {
            animation-delay: 1.2s;

            &::before {
                animation-delay: 1.2s;
            }
        }

        &.ani-5 {
            animation-delay: 1.4s;

            &::before {
                animation-delay: 1.4s;
            }
        }
    }

    .header {
        margin: 0 auto;
        max-width: 100%;
        box-sizing: border-box;
        background: var(--white-2);
        border-bottom-left-radius: .8rem;
        border-bottom-right-radius: .8rem;

        .project-details {
            padding: 2rem 5rem;

            h1 {
                font-size: 400%;
            }

            h2 {
                font-size: 2em;
            }

            .description {
                ul {
                    max-width: 450px;
                    padding: 0;

                    li {
                        display: inline-block;
                        padding: 0.3rem;
                        width: auto;
                        margin-bottom: 1.5rem;
                        margin-right: .5rem;
                        list-style: none;
                    }
                }

                p {

                    &.name {
                        font-weight: 700;
                        letter-spacing: 0.08em;
                        padding: 0;
                        border-radius: 0.2em;
                        margin: 0;
                    }
                }

                .desc {
                    color: var(--black);
                    max-width: 400px;
                    padding: 0.3rem 1rem;
                    border-left: var(--primary) solid .4rem;
                }
            }
        }

        .image {
            height: 100%;
        }

        .skills {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            span {
                flex: 0 1 auto;
                text-align: center;
                padding: 0.3em 0.5em;
                margin: 0.2em;
                background: var(--black);
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 0.03em;
                font-size: 90%;

                &.year {
                    background: #fff;
                    color: var(--black);
                    font-style: italic;
                    font-weight: bold;
                    border: var(--black) solid 1px;
                }
            }
        }
    }

    .body {
        background: var(--white);
        padding: 2em 16vw;
        margin: 0 auto;
        font-size: 1rem;
        line-height: 1.75;

        @media (max-width: 1170px) {
            padding: 0 11vw;
        }
        @media (max-width: 800px) {
            padding: 0 5vw;
        }
        @media (max-width: 500px) {
            padding: 0;
        }

        .image, img {
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            text-align: center;
        }

        figure {
            margin: 1.5rem 0;

            figcaption {
                margin-top: 1rem;
                text-align: center;
                font-size: 80%;
                color: var(--gray-medium-1);
                font-style: italic;
            }
        }

        blockquote {
            background: var(--white-2);
            border-left: .7rem solid #ccc;
            margin: 2.5em .7rem;
            padding: 2rem .7rem;
            border-radius: var(--border-radius);
            quotes: "\201C""\201D""\2018""\2019";
            font-size: 110%;
            text-align: center;


            &:before {
                color: var(--gray-light-1);
                content: open-quote;
                font-weight: 700;
                font-size: 4em;
                line-height: 0.1em;
                vertical-align: -0.4em;
            }
            p {
                display: inline;
            }
        }
          

        @media (max-width: 1170px) {
            .full-width-image {
                margin: 25px -6vw 50px;
                border-radius: 0;
            }

            .full-width-image img {
                max-width: 1170px;
            }
        }

        @media (max-width: 700px) {
            .full-width-image {
                margin: 25px -5vw;
            }
        }

        @media (max-width: 500px) {
            .full-width-image {
                margin-top: 5px;
                margin-bottom: 5vw;
                margin-left: 0;
                margin-right: 0;
            }
        }

        &>h1 {
            font-size: 130%;
            margin-top: 3rem;
            margin-bottom: 1.5rem;
            text-align: center;

            &::after {
                content: "";
                display: block;
                width: 80px;
                height: 5px;
                background-color: #f9c6ce;
                margin: 13px auto;
            }
        }

        p {
            text-align: justify;
            margin: 0 0 1.5rem;
        }

        ul, ol {
            padding-top: 1rem;
            padding-bottom: 1rem;

            li {
                &::marker {
                    font-size: 130%;
                }
                &:not(:last-of-type) {
                    margin-bottom: .6rem;
                }
            }

            ul, ol {
                padding-top: .5rem;
                padding-bottom: .5rem;
            }
        }

        .mobile-screenshot {
            margin: 0 auto;
        }

        .mobile-screenshot,
        .gif_player {
            border: .2rem solid var(--gray-light-1);
            border-bottom-width: 1.2rem;
            border-radius: .5rem;
            max-width: 300px;
            box-sizing: content-box;

            .gif-image {
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;
                max-width: 300px;
            }
        }
        .caption {
            font-size: 90%;
            text-align: center;
            padding: .3rem 0;
            color: var(--gray-medium-1);
            font-style: italic;
        }
    }
}

@media screen and #{$mq-medium} {
    .go-back-up {
        display: none;
    }
    .work {
       
        .header {
            background: none;
            border-bottom: 1px solid var(--gray-light-1);
            border-radius: 0;

            .project-details {
                padding: 1rem;

                h1 {
                    font-size: 250%;
                    margin: 0;
                }
                .description {
                    ul {
                        li {
                            display: block;
                            margin-bottom: 0;
                            margin-right: 0;
                        }
                    }
                    .desc {
                        border: none;
                        padding: 0;
                        margin: 0.2rem 0 .6rem;
                    }
                }
            }
        }

        .body {

            figure {
                margin: 1.2rem 0;
    
                figcaption {
                    font-size: 90%;
                }
            }

            & > h1 {
                font-size: 150%;
            }
            p {
                font-size: 100%;
                padding: 0;
            }
            ol {
                padding-left: 1.5rem;
                li {
                    padding-left: .4rem;
                }
            }
        }
    }
}